## Read and Clean data

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline
names = [
    "Cathegorie",
    "P"
]
sales = pd.read_csv("data.csv", usecols=[
    "Product ID",
    "Product Name",
    "Cathegorie",
    "Product Type",
    "SubProduct Type",
    "region",
    "Where",
    "Additional Services",
    "Unit price ",
    "Sales",
    "Quantity",
    "Sales Last Year",
    "Views",
    "Views Last Year",
    "Quantity Last Year"
])

def sanitize_numbers(df):
    return pd.to_numeric(df.str.replace('Rs.||\s|€|-','', regex=True).str.replace(',', '.')).replace(np.nan, 0)

sales = sales.rename(columns={
    "Unit price ": "Price",
    "Product Name": "Name",
    "Product ID": "Id",
    "region": "Region",
    "Cathegorie": "Category",
    "Product Type": "Type",
    "SubProduct Type": "SubType",
    "Where": "Location",
})

print(sales.columns)
sales["Price"] = sanitize_numbers(sales["Price"])
sales["Sales"] = sanitize_numbers(sales["Sales"])
sales["Sales Last Year"] = sanitize_numbers(sales["Sales Last Year"])
sales["Views"] = sanitize_numbers(sales["Views"])
sales["Views Last Year"] = sanitize_numbers(sales["Views Last Year"])
sales["Views Last Year"] = sales["Views Last Year"]
sales["Quantity"] = sanitize_numbers(sales["Quantity"])
sales["Quantity Last Year"] = sanitize_numbers(sales["Quantity Last Year"])
sales["Name"] = sales["Name"].astype("string")
sales["Category"] = sales["Category"].astype("string")
sales["Type"] = sales["Type"].astype("string")
sales["SubType"] = sales["SubType"].astype("string")
sales["Region"] = sales["Region"].astype("string")
sales["Location"] = sales["Location"].astype("string")
sales["Additional Services"] = sales["Additional Services"].astype("string")

sales.info()

Index(['Category', 'Id', 'Name', 'Type', 'SubType', 'Region', 'Location',
       'Additional Services', 'Price', 'Sales', 'Views', 'Quantity',
       'Sales Last Year', 'Views Last Year', 'Quantity Last Year'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Category             479 non-null    string
 1   Id                   479 non-null    int64
 2   Name                 479 non-null    string
 3   Type                 479 non-null    string
 4   SubType              156 non-null    string
 5   Region               242 non-null    string
 6   Location             295 non-null    string
 7   Additional Services  25 non-null     string
 8   Price                479 non-null    float64
 9   Sales                479 non-null    float64
 10  Views                479 non-null    float64
 11  Quantity             479 non-null    float64
 12  Sales Last Year      479 non-null    float64
 13  Views Last Year      479 non-null    float64
 14  Quantity Last Year   479 non-null    float64
dtypes: float64(7), int64(1), string(7)
memory usage: 56.3 KB


## Basic description

In [4]:
sales.describe(exclude=["int64", "string"])

,Price,Sales,Views,Quantity,Sales Last Year,Views Last Year,Quantity Last Year
count,479.000000,479.000000,479.000000,479.000000,479.000000,479.000000,479.000000
mean,371.962630,3417.973486,631.177453,17.139875,1733.129958,606.592902,9.200418
std,633.333879,17987.235829,3104.479209,87.996216,9544.780526,3427.975840,52.401467
min,29.900000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,154.450000,0.000000,22.000000,0.000000,0.000000,0.000000,0.000000
50%,215.900000,221.550000,82.000000,1.000000,0.000000,42.000000,0.000000
75%,359.400000,1098.940000,296.500000,6.000000,457.665000,295.500000,2.000000
max,7531.900000,227698.100000,56225.000000,1519.000000,130537.920000,61171.000000,871.000000

### Analyse Globale

### Price

In [9]:
print(f"- Prix moyen d'une prestation: {format(sales['Price'].mean(), '.2f')} euros")
print(f"- Prix le plus bas: {sales['Price'].min()} euros")
print(f"- Prix le plus haut: {sales['Price'].max()} euros")

- Prix moyen d'une prestation: 371.96 euros
- Prix le plus bas: 29.9 euros
- Prix le plus haut: 7531.9 euros

### Sales

In [14]:
last_year_sales = sales["Sales Last Year"].sum()
year_sales = sales["Sales"].sum()

print(f"- Total des ventes de l'anneée dernière: {format(last_year_sales, '.2f')} euros")
print(f"- Total des ventes de l'année: {format(year_sales, '.2f')} euros")
print(f'- {format(last_year_sales * 100 / year_sales, ".2f")}% d\'évolution des ventes sur l\'année')

- Ventes de l'anneée dernière: 830169.25 euros
- Ventes de l'anneée: 1637209.30 euros
- 50.71% d'évolution des ventes sur l'année

### Views

##### Total

In [19]:
last_year_views = sales["Views"].sum()
year_views = sales["Views"].sum()

print(f"- Total de views de l'anneée dernière: {last_year_views}")
print(f"- Total des views de l'année: {format(year_views, '.2f')}")
print(f'- {format(last_year_views * 100 / year_views, ".2f")}% d\'évolution des views sur l\'année')

- Total de views de l'anneée dernière: 302334.0
- Total des views de l'année: 302334.00
- 100.00% d'évolution des views sur l'année